*
{
    background: black;
    padding:0;
    margin:0;
    display: border-box;
}

.game-container
{
    z-index: 100;
}
/*  -------------------------------------- Background & Grid here---------------------------------------------------*/
.grid-container
{
    overflow: hidden;
    height: 100vh;
    z-index:1;
}

.sunset
{
    position: fixed;
    background-size: cover;
    height:100vh;
    width:100vw;
    max-width: 100%;
    max-height: 100%;
    z-index:1;
}

.grid
{
    
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(54, 226, 248, 0.5) 0%,
      rgba(54, 226, 248, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    ),
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(54, 226, 248, 0.5) 0%,
      rgba(54, 226, 248, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    );
}

.grid
{
    
    background-size: 4em 2em, 4em 2em;
    background-color: black;
    border-top: 5px solid rgba(54, 226, 248, 0.5);
    box-shadow: 0 -25px 45px rgba(54, 226, 248, 0.5);
    height: 40em;
    perspective: 1000px;
    transform: perspective(200px) scale(1.26) rotateX(80deg); 
    position: absolute; 
    width: 100%;
    z-index: 1;
}
/*  -------------------------------------- Background & Grid here---------------------------------------------------*/







/*  -------------------------------------- Background & Grid here Media queries -------------------------------------*/
@media only screen and (min-width: 768px) {
 
  img {
      top: -3%;
    }
  
  }
  
  @media only screen and (min-width: 950px) {
    body {
      background-position: 50% 0%;
    }
  }
  
  @media only screen and (min-width: 1100px) {
    img {
      top: 8%;
    }
  }

  @media only screen and (min-width: 1167px) {
    img {
      top: -11%;
    }
  }

  @media only screen and (min-width: 1297px) {
    img  {
      top: 20%;
    }
  }
  @media only screen and (min-width: 1500px) {
    img {
      top: -15%;
    }
  }