@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=VT323&display=swap");

@font-face {
  font-family: "cyber";
  src: url("/super-code-jr/Cyberspace\ Raceway\ Front.otf");
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

.about-us-header {
  margin-top: 20px;
  font-family: cyber;
  font-size: 30px;
  letter-spacing: 9px;
  color: var(--text);
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
  margin-bottom: 80px;
}

#avatar {
  width: 100px;
  height: 100px;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 1 1 12px #ebd8a6, 0 0 20px #ebd8a6, 0 0 30px #e49a39,
      0 0 40px #e49a39, 50px #e49a39, 0 0 60px #e49a39, 0 0 70px #e49a39;
  }
  to {
    text-shadow: 0 0 20px #ebd8a6, 0 0 30px #ebd8a6, 0 0 40px #ebd8a6,
      0 0 #ebd8a6;
  }
}

.bio {
  border: solid 5px var(--cyan);
  padding: 10px;
  box-shadow: 0px 0px 20px 10px var(--cyan);
  box-shadow: inset 0px 0px 10px 7px var(--cyan);
}

.bio {
  background-color: rgba(0, 0, 255, 10%);
  border: solid 5px var(--cyan);
  box-shadow: 0px 0px 7px 3px var(--cyan);
  text-align: center;
}

.bio-anchors,
.bio-info,
.bio-skills {
  color: var(--text);
}

.bio-anchors {
  font-size: 25px;
  text-transform: uppercase;
}

.bio-anchors:visited {
  text-transform: uppercase;
  color: var(--text);
}

.bio-img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.bio-container {
  background-image: url(../images/bg-grid.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  object-fit: cover;
}

.bio-info {
  margin-top: 15px;
  font-family: "ubuntu", monospace;
  font-weight: 400;
  font-size: 15px;
}

.bio-skills {
  margin-top: 12px;
  font-family: VT323;
  font-size: 25px;
  text-transform: uppercase;
}
.developer-tab {
  display:flex;
  justify-items: center;
  justify-content: space-around;
  background-color: var(--cyan);
  color: var(--text);
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  padding:.5em;
  margin-top:.2em;
  margin-left:.2em;
  font-size: 20px;
}
.game-tab {
  display:flex;
  justify-items: center;
  justify-content: space-around;
  background-color: var(--cyan);
  color: var(--text);
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  padding:.5em;
  margin-top:.2em;
  margin-left:.2em;
  font-size: 20px;
}
.display-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  border: 2px solid var(--cyan);
  height: 92vh;
  width: 100vw;
}

.display-iframe {
  
}
.clippy-display {
  display: flex;
  text-align: center;
}
.clippy-display p {
  padding-top: 2em;
}
.clippy-img {
  max-height: 25vh;
  padding: 3px;
  margin: 2px;
  border: 2px solid var(--cyan);
  box-shadow: 0px 0px 7px 2px var(--cyan);
}
.clippy-display,
.question-display,
.rendered-display,
.user-display,
.header-display {
  background-color: var(--offBlack);
  border: 2px solid var(--cyan);
  box-shadow: inset 0px 0px 5px 1px var(--cyan);
}
.header-display {
  display:grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  height: 8vh;
}
.header-text {
  display: flex;
  justify-content: center;
  
}

.home-button {
  padding: 1em;
  border: 2px solid var(--cyan);
  box-shadow: 0px 0px 7px 2px var(--cyan);
}

.modal {
  display: none;  
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.developer-iframe {
  background-color: #fefefe;
  width: 100%;
  height: 100%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.radio-img {
  max-height: 25vh;
  padding: 3px;
  margin: 2px;
  border: 2px solid var(--cyan);
  box-shadow: 0px 0px 7px 2px var(--cyan);
}
.user-display {
  display: flex;
  text-align: center;
}
.user-display p {
  padding-top: 2em;
}

/* ---------------------------------------------------------------------------------- */

.bio-container {
  display: flex;
  flex-direction: column;
  font-family: "VT323", monospace;
  background-color: var(--offBlack);
  color: var(--cyan);
  height: 100vh;
}

.about-us-header {
  text-align: center;
  /* border-bottom: 0.2em;
  border-bottom-style: solid;
  border-color: var(--glow1);
  box-shadow: 1px 1px 4px black, 0 0 1em var(--glow1), 0 0 0.2em var(--glow1); */
  padding: 1em;
}

.footer {
  margin-top: 15px;
  padding-top: 1em;
  font-family: "VT323", monospace;
  color: var(--text);
}

.highlight--corrected {
  font-size: 1.2rem;
  color: whitesmoke;
  text-shadow: 1px 1px 4px black, 0 0 1em var(--text), 0 0 0.2em var(--text);
}

.game-header,
.number-of-tries {
  display: flex;
  justify-self: center;
  align-self: center;
}


