body
{
    margin: 0;
    padding: 0;
    display: border-box;
  
}

#drawing_container
{
   align-content: center;
   margin-left: 700px;
   margin-top: 200px;
    background-size: cover;
    color: #fff;
}