*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --textColor:#abebeb;
}
.clippy-display, .user-display,
.question-display{
    color: var(--textColor);
}
.game-container{
    background-color: greenyellow;
}
.rendered-display{
    color: lightgray;
}